<h2>Science Illustrations</h2>

<div class="row">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/blend1.png" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/blend3.png" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/blend2.png" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
</div>

<div class="caption">
    All images and animations contained on this page are the original artwork of Ruiheng Su. Images may be freely used for any non-commercial purposes so long as credit is clearly indicated. Commercial use of any image on this website is not permitted without prior written consent from Ruiheng Su.
</div>